:root{
    font-size: 62.5%;
}

*{
    box-sizing: border-box;
}

.formulaire{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}